@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Way of the Buffalo</h1>
    <h4>This is the way</h4>
    <img src="~/img/buffalo.jpg" width="700" alt="buffalo" />
</div>

